<div class= page-wrapper>
	<div class="page">
		<h1>Become an artist</h1>
		<p>Pay one time subscription fee below to be able to add products to your page </p>
		<%= render "layouts/registration_stripe_form" %>
		<%= link_to 'Back to profile', "/profiles/#{current_user.profile.id}/" %>
	</div>
</div>
