
<div class="my-cart-page">
     <div class="my-cart">
    <h1 class="header-wrapper"> Thank you for your purchase! </h1>

    <h3>
        Item<% if @checked_out_cart.products.length > 1%>s<% end %> ordered:
    </h3>

    <% @checked_out_cart.products.each do |product| %>
        <p> 
            <%= image_tag product.uploaded_image, class: "cart-image-size" %>
            <%= "#{product.name} by #{product.profile.username} | #{product.price} | qty: " %> 
            </p>
    <% end %>

    <p> Total: $500 </p>
    <br>
    
    <%= link_to 'Back to profile', "/profiles/#{current_user.profile.id}"%>
</div>

</div>


