
<h1>My Cart</h1>
<% if current_user.profile.carts.any?  %>
   <% @cart.products.each do |product| %>
       <%= product.name  %>
   <% end %>
<% else %>
   <p>Your cart has zero items!</p>
<% end %>
