
<h1>My Cart</h1>
<% if current_user.profile.carts.any?  %>

   <% @cart.products.each do |product| %>
       <p>
            <%= link_to product.name, "/products/#{product.id}" %>
            <%= product.price %> |
            Remove Item
       </p>
   <% end %>
<% else %>
   <p>Your cart has zero items!</p>
<% end %>


<p>Checkout</p>