<h1> Fandoms </h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        <% @fandoms.each do |fandom| %>
            <tr>
                <td><%= fandom.id %></td>
                <td><%= fandom.fandom %></td>
            </tr>
        <%end%>
    </tbody>
</table>


<div class="home-wrapper">
    <div class="fandoms-page">
        <% @fandoms.all.each do |fandom| %>
            <div class="fandom-wrapper">
                <div class="fandom-img-wrapper">
                    <div class="fandom-img">
                        <%= image_tag 'placeholder_image.svg' %>
                    </div>
                </div>
            </div> 
    <% end %>
    </div>
 </div>