<h1>Fandoms</h1>
<div class="page-wrapper">
    <div class="fandom-page">
        <ul class="fandom-list">
            <% @fandoms.each do |product| %>
                <% if product.uploaded_image.attached? %>
                    <li class="image-link">
                        <%= link_to (image_tag product.uploaded_image.service_url , class: "fandom-img"), "/" %> 
                    </li>
                <% else %>
                    <li>
                        <%= image_tag "placeholder_image.svg", class:"fandom-img" %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
