/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "profiles.scss";
@import "pages.scss";
@import "products.scss";
// @import "bootstrap";

@font-face {
  font-family: "bubblegumsregular";
  src: font-url("bubblegumsregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "komikah";
  src: font-url("komikah_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  // font-family: "komikah";
  text-decoration: none;
  box-sizing: border-box;
  z-index: 0;
}

form * {
  // padding-top: 160px;
  font-family: "komikah";
}
.border-form-div {
   font-family: "komikah";
  // padding-top: 160px;
  margin-top: 0px;
  background-color: white;
}
.border-form-div * {
  font-family: "komikah";
}
.search-bar {
  padding-top: 0px;
}

a {
  color: black;
  font-family: "komikah";
}
p {
  font-family: "komikah";
}

a:hover {
  text-decoration: none;
  color: tomato;
}

/* User sign in and sign forms. */
.border-form-div {
  margin-top: 80px;
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: rgb(255, 255, 255);
  border: black 2px solid;
  border-radius: 0px;
  -webkit-border-radius: 00px;
  -moz-border-radius: 00px;
  border-radius: 00px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-top: 50px;
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
  margin-top: 60px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

p {
  color: black;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 10;

}

.left-nav {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  flex-wrap: inherit;
  z-index: 0;
}

.search-wrapper {
  display: flex;
}
.search-wrapper * {
  display: flex;
  font-size: 20px;
}
.btn-tertiary {
  color: white;
  background-color: rgb(73, 73, 73);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn-tertiary:hover {
  color: tomato;
}

body {
  margin: 0px;
  min-height: 100vh;
}
.main-nav {
  padding-left: 7px;
  // padding-right: 15px;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    270.1deg,
    #360000 4.83%,
    #9b4e4e 53.08%,
    #360101 101.9%
  );
}

.logo-size {
  width: 600px;
}

.logo {
  padding-top: 25px;
  display: inline-block;
  position: relative;
  width: 300px;
}

.logo * {
  // left: 20px;
  // padding-top: 20px;
  width: 400px;
}

.logo .logo-top {
  padding-top: 25px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.logo:hover {
  cursor: pointer;
}


.logo:hover .logo-static {
  opacity: 0;
}

.logo:hover .logo-top {
  display: inline;
}
.profile-icon {
  width: 40px;
}
.cart-icon {
  width: 40px;
  display: inline-block;
  position: relative;
}

.cart-icon .cart-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.cart-icon:hover .cart-top {
  display: inline;
}

.logged-in-as {
    color: rgb(255, 255, 255);
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  // width: 30%;
//   opacity: 0.7;
  font-size: 20px;
  z-index: 5;
  border: solid 4px rgb(0, 0, 0);
  padding: 5px;
//   border-radius: 25px;
//   border-top-right-radius: 0px;
//   border-bottom-right-radius: 0px;
//   border-right: 0px;
  background-color: white;
  color: black;
  
}

.user-info * {
    color: black;
}

.control-label * {
  font-family: "komikah";
}

.form-control {
  height: 40px;
  font-family: "Montserrat", sans-serif;
  width: 300px;
}
.user-icon {
  width: 40px;
}
.categories-nav {
  padding-top: 10px;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 25px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  background: linear-gradient(
    270.1deg,
    #360000 4.83%,
    #9b4e4e 53.08%,
    #360101 101.9%
  );
  border-bottom: solid black 2px;
  box-shadow: 15px 15px 15px black
}
.categories-nav * {
  background: white;
  color: black;
  padding: 7px;
  border: black 2px solid;
  // border-radius: 25px;
}
.categories-nav *:hover {

  transform: scale(1.2)
}

footer {
  //  margin-top: 100px;
  background-color: rgb(82, 82, 82);
  color: lightblue;
}
.pundit {
  padding: 20px;
}