/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'profiles.scss';
@import 'pages.scss';
@import 'products.scss';

* { 
    margin: 0px; 
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    color: black;
}
.nav-wrapper {
    width: 100%;
    // position: fixed;
    height: 120px;
    // border-bottom-style: solid; 
    // border-color: rgb(248, 220, 220);
    // border-width: 2px; 
    z-index: 2;
    // background: linear-gradient(180deg, #EFB317 0%, rgba(194, 118, 86, 0.932719) 62.5%, rgba(172, 89, 117, 0.899751) 99.98%, rgba(131, 34, 175, 0.838542) 99.99%, rgba(106, 0, 211, 0.8) 100%);
}
 .main-nav {
    padding-left: 15px;
    padding-right: 15px;
     height: 70%;
     display: flex;
     justify-content: space-between;
     align-items: center;
    //  background-color: rgb(255, 249, 249);
     opacity: 0.7;
 }
 .logo {
     font-size: 40px;
     background-image: url("./app/assets/images/cat.jpg");
 }
 .profile-icon {
     width: 40px;
 }
 .cart-icon {
     width: 40px;
 }
 .user-info {
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 15%;
     opacity: 0.7;
     font-size: 20px;

 }
 .categories-nav {
     padding-left: 7.5%;
     padding-right: 7.5%;
     display: flex;
     border-width: 2px;
     border-top-style: solid; 
     justify-content: space-around;
     align-items: center; 
     height: 30%;
    //  background-color: rgb(236, 209, 255);
    background-color: rgb(255, 249, 249);
     opacity: 0.7;
 }