// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    // background-color: red;
}

.page {
    margin-left: 42px;
    margin-right: 42px;
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 20px;
    // justify-content: center
}

.product-wrapper {
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    display: flex;
    justify-self: center;
    width: 80%;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.product-img-wrapper  > a{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.fandom-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fandom-banner {
    height: 370px;
    filter: grayscale(50%);
    opacity: 0.9;
}
.fandom-banner-text {
    position: absolute;
    // top: 10em;
    color: white;
    font-size: 6em;

}
.fandom-page {
    margin-left: 42px;
    margin-right: 42px;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    // justify-content: center
}

ul {
    columns: 250px;
    break-inside: avoid;
    margin-left: 20px;
    // margin: 20px;
    margin-right: 20px;
    z-index: 0;
    // padding: 1em;
  }

  li {
    list-style-type:none;
    z-index: 0;
  }

  .fandom-page {
      width: 80%;
      background-color: white; 
  }
  .image-link {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    // padding: 5px;
    width: 20em;
    max-width: 100%;
    z-index: 0;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    color: white;

  }
  .fandom-img {
    z-index: 0;
    width: 100%;
    display: block;
    object-fit: cover;
    margin-top: 0px;
    // margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
    filter: grayscale(100%);
    transform: scale(1);
    transition: transform 1.25s, filter 0.5s, box-shadow 0.5s, scale 0.5s;
    -webkit-transition: transform 1.25s, filter 0.5s, -webkit-filter 0.5s, box-shadow 0.5s, scale 0.5s;
  }
  .image-link:hover .fandom-img,
  .image-link:focus .fandom-img { 
      z-index: 100;
    -webkit-transform: scale(1.2);
    -webkit-filter: none;
    filter: none;
    box-shadow: #224 0.2em 0.2em 0.6em 0.1em;
  }

  .image-word {
      display: flex;
    position: absolute;
    align-self: center;

  }
  


