a {
    color: black;
}

.header {
    background-color: rgb(39, 39, 39);
    padding: 0px;
    margin: 0px;
}
.page-wrapper { 
    padding-top: 160px;
    display: flex;
    justify-content: center;
    width: 100vw;
    background: linear-gradient(270.1deg, #360000 4.83%, #9B4E4E 53.08%, #360101 101.9%);
}

.page {
    margin-left: 42px;
    margin-right: 42px;
    display: grid;
    width: 80%;
    grid-gap: 10px;
    box-shadow: 25px 25px 25px rgba(0,0,0,0.9);
    margin-bottom: 100px;
    background-color: white; 
}
.product-details-container {
    padding: 10px;
    padding-top: 5px;
    color:  black;
    background-color: white; 
    border-top: solid 2px black;
}
.product-name {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 1em;
}
.made-by {
    color: black;
    font-size: 0.45em; 
}


.made-by>a{
    color: black;
}

.fandom-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 0px;

    overflow: hidden;
    border: solid black 2px;
}
.fandom-banner {
    height: 370px;
}
.tshirt-banner {
    filter: grayscale(55%);
    height: 370px;
    opacity: 0.9;
}
.fandom-banner-text {
    position: absolute;
    color: rgb(238, 220, 220);
    font-size: 5em;
  
}
.banner-text {
    position: absolute;
    color: black;
    font-size: 5em;
}

.fandom-page {
    margin-left: 42px;
    margin-right: 42px;
    // display: grid;
    width: 80%;
    grid-gap: 20px;
    box-shadow: 25px 25px 25px rgba(0,0,0,0.9);
    margin-bottom: 100px;
}

ul {
    columns: 250px;
    break-inside: avoid;
    margin-left: 0px;
    margin-right: 20px;
    z-index: 0;
    padding-inline-start: 20px;
    padding-bottom: 18px;
    // display: flex;
  }

  li {
    list-style-type:none;
    z-index: 0;
    width: 20em;
    max-width: 100%;
    display: inline-block;
    display: flex;
  }

  .fandom-page {
      width: 80%;
      background-color: white; 
  }
  .image-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 20em;
    max-width: 100%;
    z-index: 0;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .product-image-link {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 20em;
    max-width: 100%;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    color: black;
    border: solid black 2px;
    background-color: white;
  }

  .product-img {
    display: block;
    justify-self: center;
    display: block;
    object-fit: cover;
    width: 100%;
}



.fandom-img {
    z-index: 0;
    width: 100%;
    display: block;
    object-fit: cover;
    margin-top: 0px;
    // margin-bottom: 20px;
    border: 2px solid rgb(27, 27, 27);
    // box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
    filter: grayscale(100%);
    transform: scale(1);
    transition: transform 1.25s, filter 0.5s, box-shadow 0.5s, scale 0.5s;
    -webkit-transition: transform 1.25s, filter 0.5s, -webkit-filter 0.5s, box-shadow 0.5s, scale 0.5s;
  }
  .image-link:hover .fandom-img,
  .image-link:focus .fandom-img { 
      z-index: 100;
    -webkit-transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
    box-shadow: #224 0.2em 0.2em 0.6em 0.1em;
  }

  .image-word {
      display: flex;
    position: absolute;
    align-self: center;
    color: white;
  }

  a.image-word {
    display: flex;
    position: absolute;
    align-self: center;
    color: white;

  }
  

  #item-added-notice {
    // border: 1px solid black;
    // width: 80vw;
    // height: 3rem;
    color: green;
    padding: 1rem;
    // position: absolute;
    // z-index: 100;
    // left: 2rem;
    // top: 3rem;
}

.message-wrap {
    // border: 1px solid red;
    height: 4rem;
    width: 100vw;    
    position: absolute;
    z-index: 100;
    // left: 2rem;
    top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: #f2f2f2;
}

.check-icon {
    fill: green;
    width: 2rem;
    height: 2rem;
}

