.checkout {
    color: red;
}

.profile-wrapper {
    padding-top: 140px; 
    // position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
}
  
.banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 0px;
    overflow: hidden;
    border: solid black 2px;
}


.placeholder-banner { 
    height: 370px;

}
.placeholder-profile {
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    width: 35%;
    border-color: black; 
    border-width: 2px; 
    top: 0%;
    right: 5%;
    background: white;
    margin: 10px;
}

.username {
    font-family: "komikah";
    position: absolute;
    bottom: 15%;
    right: 15%;
    font-size: 5vw;
    padding: 10px;
    background: white;
    border: solid black 2px;
}

.profile-info {
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px; 
    margin-bottom: 42px;
    background-color: white; 
    display: flex;
    flex-direction: column;
    width: 30%;
    bottom: 10%;
    left: 11.5%;
    border: black 2px solid;
    padding: 20px;
}
.welcome {
    font-family: "komikah";
}

.profile-info * { 
    color: black;
}

.user-actions {
    color: black;
    padding: 20px;
    border: solid black 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.user-actions * {
    color: black;
}

.my-products-title {
    font-family: "komikah";
    margin-left: 20px;
    margin-right: 20px;
}

.my-products {

}


ul {
    columns: 250px;
    break-inside: avoid;
    margin-left: 0px;
    margin-right: 20px;
    z-index: 0;
    padding-inline-start: 20px;
    padding-bottom: 18px;
    // display: flex;
  }
  
  li {
    list-style-type: none;
    z-index: 0;
    width: 20em;
    max-width: 100%;
    display: inline-block;
    display: flex;
  }
  .product-image-link {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 20em;
    max-width: 100%;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    color: black;
    border: solid black 2px;
    background-color: white;
  }
.product-details-container {
    padding: 10px;
    padding-top: 5px;
    color: black;
    background-color: white;
    border-top: solid 2px black;
  }

.product-details-container * {
    color: black;
}
  .product-name {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 1em;
  }
.my-cart-page {
    margin-top: 100px; 
    padding-top: 180px; 
    display: flex;
    justify-content: center;
    margin: 0px;
}
.my-cart {
    display:grid;
    width: 60%;
    // background-color: lightblue;
    padding: 45px;
    border-style: solid;
    border-radius: 35px;
    border-width: 3px;
    border-color: lightblue;
     
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-image-size {
    width: 50px;
}

.p-details {
    display: flex; 
    justify-content: space-between;
}

.header-wrapper {
    padding-bottom: 20px;
}

.decrement-icon, .increment-icon {
    width: 2rem;
    height: 2rem;
    fill:grey;
}

.decrement-icon:hover, .increment-icon:hover {
    fill: #333;
}

#out-of-stock-notice {
    color: #ff3333;
}

.profile-product-image {
    width: 200px;
}

.profile-products {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
}
.profile-products  * {
    color: black;
}
