<h1>Add a <%= @product.name %> variant </h1>

<h3> Sizes </h3>

<% category = @product.category.category %>
<% sizes = Size.where(category: category) %>
<% sizes.each do |size| %>
    <p><%= size.sizing %></p>
<% end %>




