<div class="page-wrapper">
	<div class="page">
		<div class="my-cart-page">
			<div class="my-cart">
				<h1 class="header-wrapper"> Thank you for your purchase! </h1>
				<h2>
					Item<% if @checked_out_cart.product_variants.length > 1%>s<% end %> ordered:
				</h2>
				<% @checked_out_cart.product_variants.each do |product_variant| %>
					<% purchase_entry = ProductsPurchased.where(cart_id: @checked_out_cart.id, product_variant_id: product_variant.id).first %>
					<h3> <%= "#{product_variant.product.name} | Size: #{product_variant.size.sizing} | QTY: #{purchase_entry.purchase_QTY} | $#{product_variant.price} " %> </h3>
				<% end %>
				<br>
				<p> <%= "Total: #{number_to_currency(@checked_out_cart.total)}" %> </p>
				<br>
				<%= link_to 'Back to profile', "/profiles/#{current_user.profile.id}"%>
			</div>
		</div>
	</div>
</div>
